<div class="row mb-4">

    <div class="col-lg-6 mb-4">

        <div class="card shadow-sm border-0">

            <div class="card-header bg-white">

                <h5 class="mb-0">
                    Records by State
                </h5>

            </div>

            <div class="card-body">

                <canvas
                    id="stateChart"
                    height="300"
                ></canvas>

            </div>

        </div>

    </div>



    <div class="col-lg-6 mb-4">

        <div class="card shadow-sm border-0">

            <div class="card-header bg-white">

                <h5 class="mb-0">
                    Cause of Death Distribution
                </h5>

            </div>

            <div class="card-body">

                <canvas
                    id="causeChart"
                    height="300"
                ></canvas>

            </div>

        </div>

    </div>

</div>



<div class="row mb-4">

    <div class="col-lg-6 mb-4">

        <div class="card shadow-sm border-0">

            <div class="card-header bg-white">

                <h5 class="mb-0">
                    Sex Distribution
                </h5>

            </div>

            <div class="card-body">

                <canvas
                    id="sexChart"
                    height="300"
                ></canvas>

            </div>

        </div>

    </div>



    <div class="col-lg-6 mb-4">

        <div class="card shadow-sm border-0">

            <div class="card-header bg-white">

                <h5 class="mb-0">
                    Interview Year Trend
                </h5>

            </div>

            <div class="card-body">

                <canvas
                    id="yearChart"
                    height="300"
                ></canvas>

            </div>

        </div>

    </div>

</div>