
{% extends "base.html" %}

{% block title %}

Analytics

{% endblock %}

{% block content %}

<div class="mb-4">

    <h2 class="fw-bold">
        Analytics
    </h2>

    <p class="text-muted mb-0">
        Explore visual trends, distributions, and patterns
        within the Verbal Autopsy data.
    </p>

</div>


<div class="row">

    {% include "components/charts.html" %}

</div>


{% endblock %}


{% block scripts %}

<script>
    window.dashboardStatistics = {{ statistics | tojson }};
</script>

<script
    src="{{ url_for('static', filename='js/charts.js') }}"
></script>

{% endblock %}
